
.f-image {
    width: 100%;
}

.f-title {
    color: #fafafa;
    font-size: 24px;
}

.f-description {
    color: #969696;
    font-size: 16px;
}

.f-actions {
    text-align: center;
}

.f-a-favorite {
    background-image: url("../images/favorite.png");
    width: 32px; 
    height: 32px;
    border: none;   
    background-size:contain;
    display: inline-block;
}

.f-a-favorite.checked {
    background-image: url("../images/favorite_checked.png");
}

.f-a-favorite:hover {
    background-image: url("../images/favorite_hover.png");
}