body {
    margin: 0;
    padding: 64px;
    background: #fafafa;
}

.center {
    text-align: center;
}

.button {
    background-color: #e8e8e8;
    border: solid #323232 1px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding: 18px 32px;
}

.button:hover {
    background-color: #f1f1f1;
}

.button:active {
    background-color: #fafafa;
}

.input {
    background-color: #e8e8e8;
    border: solid #323232 1px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 16px;
    font-size: 24px;
}

.input#search-input {
    width: 75%;
    display: inline-block;
}

ul.nav-bar {
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: #323232; 
}

ul.nav-bar li {
    float: left;
    height: 100%;
    border-right: solid 1px #646464;
    z-index: 1104;
}

ul.nav-bar li.right {
    float: right;
}

ul.nav-bar li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #fcfcfc;
    font-size: 18px;
    height: 100%;
}

ul.nav-bar li a:hover {
    background-color: #242424;
}

ul.nav-bar li a:active {
    background-color: #181818;
}

.error-block {
    margin: 16px;
    padding: 16px;
    background-color: #fc6464;
    width: 75%;
    text-align: center;
    color: #fafafa;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    display: inline-block;
}